<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Academy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    
    <header class="header">
        <a href="#" ><img src=".\static\logo.png" alt="">Dance-Studio</a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/service">Services</a>
            <a href="/">Prices</a>
            <a href="/contact">Contact</a>
        </nav>
        
        <div class="icons">
            <span id="menu"class="open">&#9776; </span>
            <span id="searchbar"class="searchi">&#128269; </span>
        </div>

        <form action="" id="search-form">
            <input type="search" placeholder="search here">
        </form>
    </header>

    <!-- Main background -->

    <div class="background-main">
        <div class="main-background-content">
            
            <h1><span>Wel</span>come<span> To Dance</span>  Club...</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at provident itaque, odit voluptatem esse aut nesciunt ut, recusandae rerum mollitia consequuntur, quas expedita quod obcaecati delectus sed quo iure voluptatum similique et corrupti?</p>
            <a href="#">Registor Now !!</a>
        </div>
    </div>


    <!-- Dance Features -->
<div class="main-dance">
    <div class="dance-headings">
        <h1>Dance Tour</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis deleniti nobis quisquam nesciunt illo, dicta fugit! Modi voluptatum eveniet perferendis. Culpa, nisi possimus quae beatae iste doloribus ipsa vero repellendus cupiditate magni excepturi quos amet quod mollitia delectus pariatur, aliquid quo. Exercitationem magni facere hic?</p>
        </div>
        <div class="main-dance-inner">
            <div class="inner-dance">
                <img src="https://www.thedanceworx.com/images/03-contemporary.jpg" alt="imgnotfouund">
                <div class="dance-content">
                    <h2>America</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias repellat enim, necessitatibus aspernatur repellendus velit a voluptatibus ab id esse quas ea ducimus consectetur? At perferendis minima impedit. Culpa eaque quae molestiae vitae maiores ex?</p>
                </div>
            </div>

            <div class="inner-dance">
                <img src="/static/pexels-pixabay-270789.jpg"alt="imgnotfouund">
                <div class="dance-content">
                    <h2>America</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias repellat enim, necessitatibus aspernatur repellendus velit a voluptatibus ab id esse quas ea ducimus consectetur? At perferendis minima impedit. Culpa eaque quae molestiae vitae maiores ex?</p>
                </div>
            </div>
            <div class="inner-dance">
                <img src="/static/Picsart_22-12-04_15-22-38-391.png" alt="imgnotfouund">
                <div class="dance-content">
                    <h2>America</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias repellat enim, necessitatibus aspernatur repellendus velit a voluptatibus ab id esse quas ea ducimus consectetur? At perferendis minima impedit. Culpa eaque quae molestiae vitae maiores ex?</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing -->
    <div  id="price" class="main-pricing-container">
        <h1>Our Prices</h1>
        <div class="main-price">
            <div class="inner-price">
                <i class="fas fa-award"></i>
                <div class="price-content">
                    <h2>Basic</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quaerat esse officia, consequatur nisi nemo, a repellendus praesentium culpa tempora, sed atque labore odio nobis autem dicta adipisci. Non, voluptatem.
                </div>
                <a href="#">Buy Now!!</a>
            </div>
            <div class="inner-price">
                <div class="price-content">
                    <h2>Basic</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quaerat esse officia, consequatur nisi nemo, a repellendus praesentium culpa tempora, sed atque labore odio nobis autem dicta adipisci. Non, voluptatem.
                </div>
                <a href="#">Buy Now!!</a>

            </div>
            <div class="inner-price">
                <div class="price-content">
                    <h2>Basic</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quaerat esse officia, consequatur nisi nemo, a repellendus praesentium culpa tempora, sed atque labore odio nobis autem dicta adipisci. Non, voluptatem.
                </div>
                <a href="#">Buy Now!!</a>

            </div>
        </div>
    </div>
    <!-- Amazing Dance -->
    <div class="amazing-dance">

        <h1>Amazing Dance</h1>
        <div class="main-amazing">
            <div class="inner-amazing">
                <img src="/static/patricia-palma-OaAB-eYwmUU-unsplash.jpg" alt="">
            </div>
            <div class="inner-amazing">
                <div class="amazing-content">

                    <h1>Amazing Dance</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, sit optio consequatur commodi aperiam adipisci praesentium assumenda est. Sint praesentium eaque, voluptatem neque quibusdam repudiandae libero non, eum alias ducimus necessitatibus ad, aliquam fugiat qui.</p>
                    <a href="#" >Registor Now !!</a>
                </div>
            </div>
        </div>
        <div class="main-amazing">
            
            <div class="inner-amazing">
                <div class="amazing-content">

                    <h1>Amazing Dance</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, sit optio consequatur commodi aperiam adipisci praesentium assumenda est. Sint praesentium eaque, voluptatem neque quibusdam repudiandae libero non, eum alias ducimus necessitatibus ad, aliquam fugiat qui.</p>
                    <a href="#" >Registor Now !!</a>
                    
                </div>
            </div>
            <div class="inner-amazing">
                <img src="/static/patricia-palma-l_adRqoRjnY-unsplash.jpg" alt="">
            
            </div>
        </div>
    </div>

    <!-- Suscribe us -->
     <div class="subscribe">
        <div class="subscribe-content">
            <h1>Subscribe</h1>
            <div class="myform">
                <input type="email" placeholder="Enter Your Email here" ><span><button id="sus">Subscribe</button></span>
            </div>
            <p> Copyright @ 2022 Dance Studio All Rights Reserved. </p>
        </div>

     </div>
</body>
<script src="/static/script.js"></script>


</html>
